body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(image/1000509764-01.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px black;
    max-width: 1000px;
    width: 300%;
    margin-right: 20px;
}

.nav-links {
    margin-top: 30px;
}

.nav-icon {
    margin: 0 15px;
    text-decoration: none;
    color: khaki;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-icon:hover {
    background-color: darkkhaki;
    color: black;
}

.nav-icon i {
    margin-right: 8px;
}

h1 {
    color: khaki;
}

ul>li{
    color: khaki;
    list-style-type: none;
    text-align: start;
}